h1 {
    background-color: #1C4489;
    color: #E0F0FB;
    text-align: center;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    margin-top: 0%;
}

main h2 {
    border-top-color: #D1E1F2;
    border-top-style: solid;
    border-top-width: 15px;
}

.text-content {
    display: inline;
    max-width: 40vw;
    position: absolute;
    left: 30%;
    font-size: 18px;
}

.img-content {
    display: inline;
    position: absolute;
    right: 5%;
    max-width: 200px;
}

footer {
    background-color: #1C4489;
    width: 100vw;
    height: 15vh;
    position: absolute;
    bottom: 0%;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}